<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}WikiStack{% endblock %}</title>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container">
       <div class="navbar-header">
         <a class="navbar-brand" href="/">Trip Planner</a>
       </div>
       <!-- Collect the nav links, forms, and other content for toggling -->
       <div>
         <ul class="nav navbar-nav">
           <li><a href="/contact">Home</a></li>
           <li><a href="/contact">About</a></li>
           <li><a href="/contact">Contact</a></li>

         </ul>
       </div><!-- /.navbar-collapse -->
     </div><!-- /.container -->
   </nav>

      {% block content %}{% endblock %}
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>