/*h1{
    color: black;
}
*/
.float-right {
  float: right;
  height: 45%;
  background-color: blue; }

.map {
  background-color: red;
  height: 100%; }

.width-test {
  height: 75vh;
  /*CHANGE THIS LATER*/ }

.control-label {
  padding: 5% 0 0 0; }

.control-label + .col-sm-12 {
  padding: 0; }

select.dropdown {
  width: 50%; }

#test {
  background-color: yellow; }

.day-selector {
  background-color: orange;
  padding: 0 15px 15px 15px;
  float: right;
  height: 5%; }

.btn-group {
  padding: 0 0 15px 0; }

.btn {
  height: 25px;
  width: 10%;
  background-color: purple;
  /*vertical-align: middle; */
  text-align: center;
  margin: auto;
  /*margin: 0 0 5% 0;*/ }

.entries {
  width: 60%;
  display: inline-block; }

select {
  -webkit-appearance: menulist-button; }
